<% layout("./layouts/boilerplate") %>
    <div class="row">
        <div class="col">
            <h1 class="fade-in text-center">Hey I'm Brian Deitchman</h1>
        </div>
    </div>
    <div class="row justify-content-center align-items-center fade-in">
        <div class="col">
            <img src="../images/Webp.net-resizeimage.jpg" alt="">
        </div>
        <div class="col">
            <img src="../images/smile_3_10.jpg" alt="">

        </div>
        <h2 class="fade-in">I have a B.S. in computer science from CSU East Bay
            I graduated spring 2021 with a 3.7gpa. Some of my favorite classes at East Bay were
            A.I., Mobile programming, and Linux adimistration</h2>
    </div>


    <h1 class="display-1 fade-in">Some projects ive worked on</h1>
    <div class="row">
        <div class="col">
            <img class="from-left slide-in" src="../images/node_js.png" alt="">
        </div>
        <div class="col from-right slide-in">
            <h2>This website was built using Node.js and express</h2>
            <h2>it implements the CRUD system. it uses get, post, delete, patch, and put to serve webpages</h2>
        </div>
    </div>

    <h2 class="fade-in">It uses MongoDB Atlas for the database. Mongoose is used to add user information to the
        database. Registering a user and authentication are handled by the Passport API. The username and hashed
        password are saved to the Mongo database</h2>
    <h2 class="fade-in">This website is hosted by Heroku</h2>
    <div class="row align-items-center">
        <div class="col"> <img class="fade-in" src="../images/mongoDBAtlas_50.jpg" alt=""></div>
        <div class="col"><img class="fade-in" src="../images/herokuLogo.png" alt=""></div>
    </div>


    <div class="row my-3 fade-in align-items-center">

        <div class="col">
            <h4>The orginal point of this website was to build something similar to quizlet. This site lets you
                create
                cheatsheets with flashcards and multiple choice questions that you can then use to quiz yourself
                with.
                You can create, edit, delete, and view these cheatsheets. All the cheatsheets are stored on a Mongo
                database and can only be edited/deleted by the creator of the page. If you want to create a
                cheatsheet
                you have to make an account first and login.</h4>
            <a href="./study">
                <img src="../images/show_50.png" alt="">
            </a>
        </div>
        <div class="col">
            <a href="./study">
                <img src="../images/create_50.png" alt="">
            </a>
        </div>
        </a>
    </div>
    <div class="row fade-in my-3 justify-content-center align-items-center">
        <div class="col">
            <img src="../images/reactSite.png">
        </div>
        <div class="col">
            <h2>I've made a task tracker app that uses React.js instead of EJS.</h2>
            <h3>react is way different than EJS but feels like it's really powerfull and I would love to work with it
                more in the future</h3>
        </div>
    </div>
    <div class="row justify-content-center align-items-center fade-in my-3">
        <div class="col">
            <h2>The React syntax is closer to HTML which I think makes it easier to work with and faster to type than
                EJS.</h2>
            <h3>I really like the reusable components that you work with in React. You can pass down data from parent to
                child components with props, which allows you to make components that can be reused for many different
                jobs. </h3>
        </div>
        <div class="col">
            <img src="../images/reactCode.png" alt="">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="fade-in">Another app on this website my spelling Bee game.</h2>
            <h3 class="fade-in">It has a list of spelling bee words taken from spellingBee.com that it randomly picks
                from. It then uses a text to speech API to tell you what to spell.
            </h3>
        </div>
        <div class="col">
            <a href="./spell">
                <img class="slide-in from-left" src="../images/spellingBee.png" alt="">
            </a>
        </div>
    </div>

    <div class="row justify-content-evenly">
        <div class="col">
            <a href="https://replit.com/@BrianDeitchman">
                <img class="slide-in from-left" src="../images/c++Cropped.png" alt="">
            </a>
        </div>
        <div class="col">
            <h3 class="slide-in from-right">The data from spellingBee.com was not in a program friendly collection, so I
                made a
                C++ program to
                convert the data into a .JSON file. C++ was the first language I coded in and I feel very comfotable
                with it and with pointers. The picture links to my Replit page which has some projects i've worked on
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col fade-in">
            <h2>Another fun little project on this website is the game Simon Says. Each color has a differnt sound
                effect that plays when clicked. The all squares flash green when you get the sequence correct and black
                when you get it wrong</h2>
        </div>
        <div class="col fade-in">
            <a href="./simonsays">
                <div class="col"><img class="" src="../images/simonsays.png" alt=""></div>
            </a>
        </div>

    </div>




    <script src="../controller/home.js"></script>