<% layout("./layouts/darkModeBP") %>
    <h1>Create a Study sheet</h1>
    <form action="/new" method="POST">
        <div class="mb-3">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <select class="form-select" name="subject" id="subject">
                <option selected> Pick a subject</option>
                <% for(let subject of subjects){ %>
                    <option value="<%= subject %>">
                        <%= subject %>
                    </option>
                    <% } %>
            </select>
        </div>
        <hr>
        <br>
        <div class="flashCard" id="flashCard">
            <div class="mb-3">
                <label for="flashCardTerm" class="form-label">Term</label>
                <input type="text" class="form-control" id="flashCardTerm" name="flashCardTerm[]">
            </div>
            <div class="mb-3">
                <label for="flashCardDefinition" class="form-label">Definition</label>
                <input type="text" class="form-control" id="flashCardDefinition" name="flashCardDefinition[]">
            </div>
        </div>
        <button id="trueOrFalseBtn" class="btn btn-info" type="button">next flash
            card</button>
        <div id="multChoice">
            <div class="mb-3">
                <label for="multChoiceQuestion" class="form-label">Question</label>
                <input type="text" class="form-control" id="multChoiceQuestion" name="multChoiceQuestion[]">
            </div>
            <div class="mb-3" id="divMultChoiceOptions">
                <label for="multChoiceOptions" class="form-label">Possible Answers</label>
                <input type="text" class="form-control" id="multChoiceOptions" name="multChoiceOption1[]">
                <input type="text" class="form-control" id="multChoiceOptions" name="multChoiceOption2[]">
                <input type="text" class="form-control" id="multChoiceOptions" name="multChoiceOption3[]">
                <input type="text" class="form-control" id="multChoiceOptions" name="multChoiceOption4[]">
            </div>
            <div class="mb-3">
                <label for="multChoiceAnswer" class="form-label">Answer</label>
                <input type="text" class="form-control" id="multChoiceAnswer" name="multChoiceAnswer[]">
            </div>
        </div>
        <button class="btn btn-info" type="button" id="multChoiceBtn">next
            question</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="../controller/makeQuestion.js"></script>