<% layout("./layouts/boilerplate") %>

    <h1>Create a Study sheet</h1>
    <form action="/new" method="POST">
        <div class="mb-3">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject">
        </div>
        <hr>
        <br>
        <div class="flashCard" id="flashCard">
            <div class="mb-3">
                <label for="flashCardTerm" class="form-label">Term</label>
                <input type="text" class="form-control" id="flashCardTerm" name="flashCardTerm[]">
            </div>
            <div class="mb-3">
                <label for="flashCardDefinition" class="form-label">Defintion</label>
                <input type="text" class="form-control" id="flashCardDefinition" name="flashCardDefinition[]">
            </div>
        </div>
        <button class="btn btn-info" type="button" onclick="makeNewFlashCard()">next flash card</button>
        <div id="multChoice">
            <div class="mb-3">
                <label for="multChoiceQuestion" class="form-label">Question</label>
                <input type="text" class="form-control" id="multChoiceQuestion" name="multChoiceQuestion[]">
            </div>
            <div class="mb-3" id="divMultChoiceOptions">
                <label for="multChoiceOptions" class="form-label">Possible Answers</label>
                <input type="text" class="form-control" id="multChoiceOptions" name="multChoiceOption1[]">
                <input type="text" class="form-control" id="multChoiceOptions" name="multChoiceOption2[]">
                <input type="text" class="form-control" id="multChoiceOptions" name="multChoiceOption3[]">
                <input type="text" class="form-control" id="multChoiceOptions" name="multChoiceOption4[]">
            </div>
            <div class="mb-3">
                <label for="multChoiceAnswer" class="form-label">Answer</label>
                <input type="text" class="form-control" id="multChoiceAnswer" name="multChoiceAnswer[]">
            </div>
        </div>
        <button class="btn btn-info" type="button" id="newQuestion" onclick="makeNewQuestion()">next
            question</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="../controller/new.js"></script>
    <script>
        function makeNewQuestion() {
            let clone = multChoice.cloneNode(true);
            clone.id = "multChoice2"
            multChoice.after(clone);
            console.log("yo")
        }

        function makeNewFlashCard() {
            let clone = flashCard.cloneNode(true);
            clone.id = "flashCard2"
            console.log(clone.children);
            flashCard.after(clone);
            console.log("yo")
        }
    </script>