<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>Show page</h1>
    <% for( let d of data) { %>
        <p>
            <%= d.flashCard[0].term%>
        </p>
        <p>
            <%= d.flashCard[0].definition %>
        </p>
        <% } %>

            <a href="/home">home</a>
</body>

</html>